a,button {
    cursor: pointer;
}

#outer-category-container{
    display: flex;
    justify-content: center;
}

#categories-bar-container{
    /* background-color: lightblue; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   height: 444px;
   width: 1184px;

}

#categories-bar-container img{
height: 100px;
width: 100px;


}
#categories-bar-container li{
list-style: none;
/* height: 100%;
width: 100%; */
display: flex;
justify-content: center;
align-items: center;
width: 256px;
height: 183px;
/* background-color: red; */
/* box-shadow: 0 0 10px 0 #00000026; */
border-top: 1px solid rgba(235,235,235,1);
border-right: 1px solid rgba(235,235,235,1);
border-bottom: 1px solid rgba(235,235,235,1);
border-left: 1px solid rgba(235,235,235,1);
border-color: rgba(227,227,227,1);
border-radius: 4px;
}




#categories-bar-container li:hover{
    box-shadow: 0 0 10px 0 #00000026;
    /* background-color: blue; */
}

.category-listings-container{
    flex-basis: 50% !important;
}

.category-details-container{

    /* background-color: aqua; */
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

     padding: 0px;
     width: 60%;

}
.category-details-container img {

    width: 200px;
    height: 200px;
    /* border-radius: 10px 10px 10px 10px; */
}
.category-heading{
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
}
