body {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

.star_icon-1{
    width: 1em;
    height: 1em;
    /* background-color: red; */
    color: blue;
    /* fill: blue; */
}
#review-rating-star{
    color: gold;
}
