body {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.review-container h4 {

    margin: 0px 5px 0px 0px;
}

.review-container div {

    display: flex;
    margin: 5px;
}

.review-container a {

    display: flex;
    text-decoration: none;
    color: blue;
    font-weight: 600;
}

.review-container {
    border-bottom: 1px solid black;
    margin: 20px;
    font-size: 14px;
}

.review-stars div {

    margin: 0px;
}

.update-delete-button button {

    margin: 5px;
    padding: 5px;
}
.fa-solid{
    color: rgb(255, 100, 61);
}
