body {
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.review-container h4 {

    margin: 0px 5px 0px 0px;
}

.review-container div {

    display: flex;
    margin: 5px;
}

.review-container a {

    display: flex;
    text-decoration: none;
    color: blue;
    font-weight: 600;
}

.review-container {
    border-bottom: 1px solid rgba(235,235,235,1);
    margin: 20px;
    font-size: 14px;
}

.review-stars div {

    margin: 0px;
}

.update-delete-button button {

    margin: 5px;
    padding: 5px;
}
.fa-solid{
    color: rgb(255, 100, 61);
}
#user-review-container{
    display: flex;
    align-items: center;
    gap: 10px
    ;
}
.fa-circle-user{
    font-size: 50px;
}

#review-stars-date{
    display: flex;
    align-items: center;
}

#review-buttons button{


    border: none;
    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    width: 56.35px;
    border-radius: 4px;
    height: 35px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif !important;;
    font-size: 12px !important;
    font-weight: 500 !important;
    margin-right: 10px ;
    transition: background-color 0.3s;
}

#review-buttons button:hover{
    background-color: rgba(184, 0, 0, 1);
}
