body {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a,button {
    cursor: pointer;
}
.listing-details-container img {

    width: 200px;
    height: 200px;
    /* border-radius: 10px 10px 10px 10px; */
}

.listing-details-container{

    /* background-color: aqua; */
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    gap: 20px;

     padding: 0px;

}

.one-listings-container{
  
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: row ;
    flex-basis: 40%;
    border: 1px solid black;

  cursor: pointer;
  padding-top: 24px !important;
    padding-right: 24px !important;
    padding-bottom: 24px !important;
    padding-left: 24px !important;
    border-color: rgba(235,235,235,1);
    transition: box-shadow 0.3s;
    margin-left: 40px;
    gap: 20px;
}

.one-listings-container:hover{
  box-shadow: 3px 3px 5px #ccc;
}
/* #categories-bar-container {
display: flex;
flex-direction: row;
list-style-type: none;
justify-content: space-between;

padding-right: 45px;
gap: 10px;
cursor: pointer;

} */

/* #categories-bar-container img {

    height: 60px;

} */


/* .image-container {
    position: relative;
    width: 60px;
  }

  .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 100%;
    opacity: 0;

    transition: opacity 0.5s;
  }

  .image-container:hover::before {
    opacity: 1;
  } */

  /* #cat-hr{
    width:95%;
    border:  .5px solid lightgrey;
  }

  #middle-header-container{
    height: 200px;
    padding: 0 35px;
  } */
/* #middle-header-container{
    display: flex;
    gap: 10px;
    margin-top: 30px;

} */
/* #middle-header-container img{
    height: 150px;
    width: 300px;
    cursor: pointer;
} */


#main-body-container{
   /* background-color: chartreuse; */
   display: flex;
   min-height: 100vh;
   align-items: flex-start;
}


/* #restaurants-sidebar{

    position: sticky;
    width: 90%;
    top: 30px;
    display: inline;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

/* #restaurants-main{
    background-color: blueviolet;
} */
/* #offers-container{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin-left: 30px;
} */
#listing-heading{
  font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: 700;
    -webkit-letter-spacing: -0.4px;
    -moz-letter-spacing: -0.4px;
    -ms-letter-spacing: -0.4px;
    letter-spacing: -0.4px;
    line-height: 36px;
    word-wrap: break-word !important;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    color: rgba(45,46,47,1);
    text-align: center;
}
