body {
    box-sizing: border-box;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px;
    /* height: 1000px; */
}


.create-listing-form-container {


    display: flex;
    justify-content: space-between;

    background-repeat: no-repeat;

    background-color: rgb(224, 228, 233);
    height: 800px;


}

#form-container {
    background-color: rgba(255,255,255,1);

    display: flex;
    flex-direction: column;
    gap: 20px;
    width:100%;
    max-width: 660px;
    margin-right: auto;
    max-height: 100%;
    height: 800px;

}


#form-container h2 {
    align-self: center;
    font-size: 5 rem;
    color: red;
}

#form-container h3 {
    margin-left: 10px;
    font-size: 5 rem;
    /* color: red; */
}

.form-div-container {
    width: 100%;
}


.label-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    justify-content: start;
    font-size: .75rem;
    padding-left: 10px;
    padding-right: 10px;
}


.label-container input,
select {

    border: 2px solid rgb(236, 234, 234);
    background-color: rgb(236, 234, 234);
    /* background-color: blue; */
    height: 30px;
    font-size: .75rem;
}

#state-container {
    display: flex;

}

#state-container p {
    margin-left: 10px;
    margin-right: 10px;
}

.description-container{
    width: 100%;
    /* background-color: purple; */
}
.description-container textarea{
    height: 100px;

    width: 100%;
    resize: none;

}


.button-container {
    display: flex;
    justify-content: center;
}

.create-listing-button {
    margin-top: 30px;
    box-shadow: 2px 2px;

    border: none;

    background-color: rgba(224,7,7,1);
    color: rgba(255,255,255,1);
    width: 250px;
    border-radius: 4px;
    height: 44px;
    font-family: 'Poppins','Helvetica Neue',Helvetica,Arial,sans-serif !important;;
    font-size: 16px !important;
    font-weight: 500 !important;
}

.create-listing-button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: darkgrey;
    border: 2px solid darkgrey;


}

.on-submit-errors {
    color: red;
    font-size: 10px;
}

.backend-errors {
    color: rgb(139, 9, 139);
    font-size: 10px;
}

.images-container P{
    font-size: .75rem;
    margin-left: 10px;
}

/*  */

.input-container {
    position: relative;
    width: calc(100% - 40px);
    padding-bottom: 20px;
    margin-left: 10px;

  }

  .input-container input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;

  }

  .input-container input[type="text"]:focus {

    border: 2px solid #2d2e2f;
    box-shadow: inset 0 0 0 1px #c8c9ca;


  }

 .input-container input[type="text"]:hover {

    border: 2px solid #2d2e2f;
    box-shadow: inset 0 0 0 1px #c8c9ca;


  }
  .input-container label {
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 14px;
    color: #777;

  }




  .create-image-container{
    display: flex;
    height: 100%;
    width: 70%;
  }


  .create-image-container img{

    height: 800px;
    width: 100%;
  }

  #form-outer-container{
    display: flex;
    justify-content: space-around;
    width: 660px;
    background-color: purple;
height: 800px;
  }

#form-inner-div{
    max-height: 100%;
}
